spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/star-seeker
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always
jwt:
  public:
    key: classpath:app.pub
  private:
    key: classpath:app.key